# Copyright (c) 2016 Intracom S.A. Telecom Solutions. All rights reserved.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v1.0 which accompanies this distribution,
# and is available at http://www.eclipse.org/legal/epl-v10.html


sudo: required
dist: trusty


language: go
go:
  - 1.4
  - 1.5
  - tip


install: 
  - go get golang.org/x/sys/unix
  - go get github.com/intracom-telecom-sdn/jscheduler-go

script:
  - bash $GOPATH/src/github.com/intracom-telecom-sdn/jscheduler-go/travis-jobs/build.sh
